.vs/OpenGL-basico/v18/DocumentLayout.backup.json
/.vs
/Debug
/Release
/OpenGL-basico/Debug
/OpenGL-basico/Release
/OpenGL-basico/Release
/Release
/Release
/OpenGL-basico/Release
/OpenGL-basico/Release
/Release
OpenGL-basico/Release/main.obj
OpenGL-basico/Release/main.obj
OpenGL-basico/Release/OpenGL-basico.log
OpenGL-basico/Release/OpenGL-basico.tlog/link.read.1.tlog
OpenGL-basico/Release/vc145.pdb
Release/OpenGL-basico.exe
*.obj
